<launch>

  <arg name="port"                        default="$(optenv IMU_PORT /dev/ttyTHS1)" />
  <arg name="baudrate"                    default="115200" />

  <node pkg="ros_openimu" type="openimu_driver.py" name="openimu_driver" output="screen" respawn="true">
    <param name="port"                        value="$(arg port)"/>
    <param name="baudrate"                        value="$(arg baudrate)" />
  </node>
</launch>